.pos-ab-logo img{
	position:absolute;
	background:#fff;
	border:3px solid #0060b1;
	width:100px !important;
	height:auto;
	z-index:1024;
	padding:6px;
}
.footer-right-address li{
		height:30px;
}
.py-4{
	padding:40px 0px;
}
@media(max-width:767px) {
	
	.pos-ab-logo img {
    position: absolute;
    background: #fff;
    border: 3px solid #0060b1;
    width: 47px !important;
    height: auto;
    z-index: 1024;
    padding: 6px;
}
}